* {
    background-color: aqua;
    color: blueviolet;
    display: grid;
    text-align: center;

}


.item {
border: 1px solid black;
height: 80%;
width: 40px;
}

.item1 {
    display: grid;
    background-color: green;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-items: center;


.item2 {
    display: grid;
    background-color: pink;
    grid-column: 1fr 1fr 1fr 1fr;
    /* grid-row: */
    justify-items: center;
}



.item3 {
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2 / 3;
    justify-items: center;


.item4 {
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2 / 3;
    justify-items: center;



}

.container {
    background-color: black;
    /* height: ; */
    display: grid;
    /* grid-template-columns: ; */
    /* grid-template-rows: ; */
    justify-items: center;
    align-items: center;
grid-template-rows: ;
grid-template-areas: 
head head head head



;


}  
